langchain==0.3.14
langchain-community==0.3.14
langchain-groq==0.2.4
langchain-chroma==0.2.2
chromadb==0.6.3
fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.9
pypdf==4.3.0
python-dotenv==1.0.1
pydantic==2.10.3
langsmith==0.1.147
sentence-transformers==3.3.1