langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-groq==0.3.8
langchain-chroma==0.1.4
langsmith>=0.3.45,<1.0.0
# Removed sentence-transformers to prevent 503 RAM crash
langchain-google-genai==2.1.10
chromadb==0.5.23
fastapi==0.115.6
uvicorn[standard]==0.32.1
python-multipart==0.0.9
pydantic==2.10.3
pypdf==4.3.1
python-dotenv==1.0.1